@media screen and (max-width: 1160px) {
    body {
      background: url("../images/bg-mobile.svg") top no-repeat var(--primary-dark);
      background-size: contain;
    }
  
    main {
      flex-direction: column;
    }
  
    .illustracao-container,
    .informacoes-container {
      width: 100%;
    }
  
    .illustracao-container {
      padding-top: 50px;
      padding-bottom: 100px;
    }
  
    .ilustracao {
      width: 500px;
    }
  
    .informacoes-container {
      align-items: center;
      padding-bottom: 50px;
    }
  
    .redes {
      position: initial;
    }
  
    #texto {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 555px) {
    #titulo {
      text-align: center;
    }
  
    #texto {
      text-align: center;
    }
  
    #register {
      width: 60%;
      transform: initial;
    }
  
    .redes {
      transform: translateY(50%);
    }
  }
  
  @media screen and (max-width: 455px) {
    #logo {
      width: 160px;
    }
  
    .ilustracao {
      width: 270px;
    }
  
    #titulo {
      font-size: 27px;
      line-height: 48px;
    }
  
    #texto {
      font-size: 12px;
      line-height: 24px;
    }
  }